#exp{
    width: 100%;
    height: 300px;
    background-color: #00ff00;
}

.poder{
    font-family: 'Old Standard TT', serif;
}

.container ul {
    list-style-type: none;
    background-color: #ddd05d;
}

.bd-1{
    border-bottom: 1px solid #000;
}

.container-fluid{
    background-color: #fff;
}

.container ul li{
    background-color: #ffffff;
    font-family: 'Source Serif Pro', serif;
}

.container{
    /*padding-left: 70px;*/
    padding-bottom: 0px;
    margin-bottom: 20px;
    background-color: transparent;
}

h1{
    font-family: 'Source Serif Pro', serif;
    font-size: 35px;
}

.text-center{
    border-radius: 25px;
    box-shadow: 5px 10px 10px grey;
}

.explicacao{
    /*border: 1px solid black;*/
    height: 400px;
    width: 100%;
    float: left;
    margin: 0px 60px 15px 66px;
    background-color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    /*margin-left: 60px;*/
    margin-bottom: 20px;
    border-radius: 5px;
}
.buttons{
    margin-bottom: 20px;
}
.btn-primary{
    height: 50px;
    width: 50%;
    background-color: transparent;
    /*color: rgb(120, 120, 120);*/
    color:rgb(169,169,169);
}

.btn-primary:hover{
    background-color: #ccc;
    color: #000;
}

.btn-secondary{
    height: 50px;
    width: 49%;
    background-color: transparent;
    /*color: rgb(120, 120, 120);*/
    color:rgb(169,169,169);
}

.btn-secondary:hover{
    background-color: #ccc;
    color: #000;
}

/*.logo{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    position: left;
}*/

/*FOOTER*/
.footer{
    /*left: 0;
    bottom: 0;*/
    width: 100%;
    background-color: #ccc;
    height: 250px;
}

footer div{
    background-color: #fff;
    width:300px;
    height:200px;
    margin-left: 90px;
    margin-top: 15px;
}

footer p{
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    margin-bottom: 10px;
    font-family: 'Source Serif Pro', serif;
}

.name{
    margin-top: 5px;
    margin-left: 90px;
    height: 40px;
    width: 440px;
    margin: auto;
    background-color: transparent;
    text-align: center;
}
/*fim do footer*/

/* Sobre.PHP */
.foto{
    height: 200px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 0;
    margin: 0;
}
.txt-1{
    text-align: center;
}
.paragrafo{
    background-color: #ff0000;
}

.sobre{
    padding: 60px;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
}

/*cestas.php*/

/*login.php*/
.formulario{
    height: 400px;
    margin: auto;
    position: relative;
    border: 1px solid #000;
    border-radius: 10px;
}
.pd-1{
    margin-right: 20px;
}

.campos{
    position: relative;
    
}

.cx{
    height: 32px;
    width: 250px;
    margin-left: 150px;
    border-radius: 5px;
    background-color: #cccccc;
}

.cx1{
    margin-left: 150px;
}


#tituloLogin{
    position: relative;
    margin-top: 50px ;
    padding-left: 50px;
    /*font: 42px "Montserrat", sans-serif;*/
}
.first{
    width: 750px;
    height: 500px;
    background-color: #00ff00;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    box-shadow: 0px 20px 10px rgb(119, 119, 119);
}

#back{
    width: 64px;
    height: 64px;
    background-color: transparent;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

/* fim */

#tituloVoluntario{
    text-align: center;
    font-family: 'Old Standard TT', serif;;
}

.voluntario{
    background-color: transparent;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 500px;
    width: 200px;
    height: 380px;
    font-family: 'Source Serif Pro', serif;
    text-decoration: none;
    color: black;
}

.description{
    width: 98.2%;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    resize: none;
}

.socio{
    background-color: #fff;
    height: 570px;
}
/* fale.php */
.faleconosco{
    width: 200px;
    height: 400px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

#tituloFaleConosco{
    text-align: center;
    font-family: 'Old Standard TT', serif;
}

#atendimento{
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 15px;
    font-weight: bold;
}

.fale{
    width: 98.2%;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    resize: none;
}

.cadastrorecep{
    background-color: #fff;
    height: 620px;
}

/*.doacoes{
    background-color: #000;
    width: 250px;
    height: 350px;
}*/

.doar{
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    height: 150px;
}

.recebidas{
    background-color:#56C6FC;
    border-radius:5px;
    margin-top:20px;
    color:#fff;
    float:left;
    width:100%;
    text-align: center;
}

/* doar.php */
.doarform{
    height: 300px;
    margin: auto;
    position: relative;
    /*border: 1px solid #000;*/
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.containervalordoado {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
}

.containervalordoado input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.containervalordoado:hover input ~ .checkmark {
    background-color: #ccc;
}

.containervalordoado input:checked ~ .checkmark {
    background-color: #56c6fc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containervalordoado input:checked ~ .checkmark:after {
    display: block;
}

.containervalordoado .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}